<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width-device-width" />
        <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
        <link href="/lib/font-awesome/css/all.min.css" rel="stylesheet"/>
        <link href="~/lib/custom_css/custom_style.css" rel="stylesheet" />
        <title>Shop</title>
    </head>
    <body>
        <div class="">
        <div class="container-fluid bg-dark text-white p-2">
                <div class="row">
                    <div class="col navbar-brand text-white ms-3 text-md-start">
                        <a asp-page="/Home"
                            class="text-decoration-none link-light">
                                Sklep Sportowy
                        </a>
                    </div>
                    <div class="col-6 navbar-text text-end me-3">
                        <vc:cart-summary />
                    </div>
                </div>
            </div>
            <div class="row m-1 p-1">
                <div class="col-sm-2" id="categories">
                    <vc:navigation-menu />
                </div>
                <div class="col-sm-10">
                    @RenderBody()
                </div>
            </div>
        </div>
    </body>
</html>