@model Order

<h2>Potwierdzenie zamówienia</h2>
<h4>Wprowadź dane do wysyłki</h4>

<div class="container-fluid">
    <div asp-validation-summary="All" class="text-danger"></div>

    <form asp-action="Checkout" method="post">
        <h3>Dane zamawiającego:</h3>
        <div class="form-group">
            <label>Imię i nazwisko:</label>
            <input asp-for="Name" class="form-control" />
        </div>
        <h3>Adres</h3>
        <div class="form-group">
            <label>Ulica i numer domu:</label>
            <input asp-for="Line1" class="form-control" />
        </div>
        <div class="form-group">
            <label>Miejscowość:</label>
            <input asp-for="City" class="form-control" />
            <div class="form-group">
                <label>Kod pocztowy:</label>
                <input asp-for="Zip" class="form-control" />
            </div>
            <div class="form-group">
                <label>Kraj:</label>
                <input asp-for="Country" class="form-control" value="Polska" />
            </div>
            <h3>Opcje:</h3>
            <div class="checkbox p-1">
                <label><input asp-for="GiftWrap" /> Zapakuj jako prezent?</label>
            </div>            
            <div class="text-center mb-2">
                <input class="btn btn-primary" type="submit" value="Złóż zamówienie" />
            </div>
            <div class="text-center">
                <a class="btn btn-secondary" asp-action="Index" asp-controller="Home">
                    Powrót
                </a>
            </div>

        </div>
    </form>
</div>



