@*@model IQueryable<Product>*@

@model ProductListViewModel


<h2>Welcome to the Shop</h2>

<h3>List of products:</h3>

<div page-model="@Model?.PagingInfo" page-action="Index"
     page-class-enabled="true"
     page-class="btn"
     page-class-normal="btn-outline-dark"
     page-url-category="@Model?.CurrentCategory!"
     page-class-selected="btn-primary" class="btn-group pull-right m-l">
</div>


<div class="d-grid gap-2 mt-3 mb-3">
    @foreach (var p in Model?.Products ?? Enumerable.Empty<Product>())
    {
        <partial name="ProductSummary" model="p" />
    }
</div>


<div page-model="@Model?.PagingInfo" page-action="Index" 
    page-class-enabled="true" 
    page-class="btn" 
    page-class-normal="btn-outline-dark"
    page-url-category="@Model?.CurrentCategory!"
    page-class-selected="btn-primary" class="btn-group pull-right m-l"
>
</div>