<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width-device-width" />
    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <title>Shop</title>
</head>
<body>
    <div class="bg-dark text-white p-2">
        <div class="col navbar-brand text-white ms-3 text-md-start">
            <a asp-page="/Home"
               class="text-decoration-none link-light">
                Sklep Sportowy
            </a>
        </div>
    </div>
    <div class="row m-3 p-1">
        @RenderBody()
    </div>
</body>
</html>