@page

<div class="text-center">
    <h2>Thank You for your order</h2>
    <p>Order number: #@OrderId</p>
    <p>We invite you again</p>
    <a class="btn btn-primary" asp-controller="Home">Return to Shop</a>
</div>

@functions{
    [BindProperty(SupportsGet = true)]
    public string? OrderId { get; set; }

}