@page

<div class="text-center">
    <h2>Dziękujemy za złożenie zamówienia</h2>
    <p>Twój numer zamówienia to: #@OrderId</p>
    <p>Zapraszamy ponownie!</p>
    <a class="btn btn-primary" asp-controller="Home">Powrót do Sklepu</a>
</div>

@functions{
    [BindProperty(SupportsGet = true)]
    public string? OrderId { get; set; }

}